<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.pwr.lab46.i236764"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="pl.edu.pwr.lab46.i236764.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon"
        >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="pl.edu.pwr.lab46.i236764.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.edu.pwr.lab46.i236764.MainQuizActivity"
            android:label="@string/title_activity_main_quiz"
            android:parentActivityName="pl.edu.pwr.lab46.i236764.StartActivity"
            android:screenOrientation="sensorPortrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.pwr.lab46.i236764.StartActivity"
                />
        </activity>
        <activity
            android:name="pl.edu.pwr.lab46.i236764.MapQuizActivity"
            android:label="@string/title_activity_map_quiz"
            android:parentActivityName="pl.edu.pwr.lab46.i236764.StartActivity"
            android:screenOrientation="sensorPortrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.pwr.lab46.i236764.StartActivity"
                />
        </activity>
        <activity
            android:name="pl.edu.pwr.lab46.i236764.HighScoreActivity"
            android:label="@string/title_activity_high_score"
            android:parentActivityName="pl.edu.pwr.lab46.i236764.StartActivity"
            android:screenOrientation="sensorPortrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.pwr.lab46.i236764.StartActivity"
                />
        </activity>

    </application>

</manifest>
